<!doctype html>
<html lang="{{ site.Language.Locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }} | {{ site.Title }}</title>
    {{ $style := resources.Get "styles/main.css" |  resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
  <body>
    <header class="site-header">
      <a class="site-title" href="{{ "/" | relURL }}">{{ site.Title }}</a>
      <nav class="menu">
        <ul>
          {{ range site.Menus.main }}
            <li><a href="{{ .URL }}"{{ if $.IsMenuCurrent .Menu . }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
    <main class="page">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="site-footer">© {{ now.Year }} {{ site.Title }}</footer>
  </body>
</html>
