{{ define "main" }}
  <div class="article">
    <header class="article-header">
      <h1>{{ .Title }}</h1>
      {{ with .Content }}<div class="prose">{{ . }}</div>{{ end }}
    </header>
    <ol class="entries">
      {{ range .RegularPages.ByDate.Reverse }}
        <li>
          <a class="entry" href="{{ .RelPermalink }}">
            {{- $title := .LinkTitle }}
            {{- if isset .Params "listtitle" }}
              {{- $title = .Params.listTitle }}
            {{- end }}
            {{- $hasTitle := and $title }}

            <time{{ if not $hasTitle }} class="entry-title"{{ end }} datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            {{- if $hasTitle }}
            <span class="entry-title">{{ $title }}</span>
            {{- end }}
            {{ with .Summary | plainify }}<span class="entry-summary">{{ . | truncate 160 }}</span>{{ end }}
          </a>
        </li>
      {{ else }}
        <li class="empty">Nothing here yet.</li>
      {{ end }}
    </ol>
  </div>
{{ end }}
